@wsuwebteam:registry=https://npm.pkg.github.com/wsuwebteam

# Public token for accessing packages because GitHub packages are annoying
//npm.pkg.github.com/:_authToken=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